<form (ngSubmit)="onSubmit()" #f="ngForm" class="form-blog">
    
    <app-input 
        label="Título de la entrada" 
        [(ngModel)]="entrada.titulo" 
        name="titulo"
        placeholder="Ej: Las claves de la gnosis"
        required>
    </app-input>

    <div class="campo-form">
        <label class="label-pro">Categoría del post</label>
        <p-treeSelect 
            name="categoriaSelect"
            [(ngModel)]="nodoSeleccionado" 
            [options]="categoriasArbol" 
            (onNodeSelect)="onNodeSelect($event)"
            placeholder="Selecciona una categoría..."
            [style]="{'width':'100%'}"
            scrollHeight="300px">
        </p-treeSelect>           
    </div>

    <app-input 
        label="Nombre o URL de la imagen" 
        [(ngModel)]="entrada.imagenUrl" 
        name="imagenUrl"
        placeholder="imagen-post.jpg">
    </app-input>

    <app-textarea 
        label="Contenido del post" 
        [(ngModel)]="entrada.contenido" 
        name="contenido"
        required>
    </app-textarea>

    <div class="form-actions">
        <button type="button" class="btn-cancel" (click)="onCancel()">
            Cancelar
        </button>

        <button type="submit" class="btn-save" [disabled]="!f.valid">
            Guardar Entrada
        </button>
    </div>
</form>