<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
  <h2 class="form-title">{{ titulo() }}</h2>

  <div class="grid-form">

    <!-- Título -->
    <div class="form-group full-width">
      <label>Título de la entrada</label>
      <input type="text" formControlName="titulo" placeholder="Ej: Las claves de la gnosis">
      <app-field-error [control]="form.get('titulo')" [mensajes]="{ minlength: 'El título debe tener al menos 3 caracteres' }" />
    </div>

    <!-- Categoría -->
    <div class="form-group">
      <label>Categoría</label>
      <ng-select
        [items]="categoriasParaSelect()"
        bindLabel="label"
        bindValue="data"
        groupBy="groupLabel"
        formControlName="categoriaId"
        placeholder="Selecciona una categoría...">
      </ng-select>
      <app-field-error [control]="form.get('categoriaId')" />
    </div>

    <!-- Imagen -->
    <div class="form-group">
      <label>Imagen de la entrada</label>
      <input
        type="file"
        (change)="onFileSelected($event)"
        accept="image/*"
        class="file-input"
      >
    </div>

    <!-- Contenido -->
    <div class="form-group full-width">
      <label>Contenido del post</label>
      <textarea formControlName="contenido" rows="12" placeholder="Escribe aquí..."></textarea>
      <app-field-error [control]="form.get('contenido')" [mensajes]="{ minlength: 'El contenido debe tener al menos 10 caracteres' }" />
    </div>

  </div>

  <app-toast-local></app-toast-local>

  <div class="form-actions">
    <button type="button" class="btn-secondary" (click)="onCancel()">Cancelar</button>
    <button type="submit" class="btn-primary" [disabled]="cargando()">
      {{ cargando() ? 'Guardando...' : 'Guardar Entrada' }}
    </button>
  </div>
</form>