.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.admin-view {
  display: flex;
  flex: 1; 
}

.admin-content {
  flex: 1;
  padding: 2rem;
  background-color: #f9fafb;
  overflow-y: auto;
}

footer {
  margin-top: auto;
}

/* Responsive styles para móviles */
@media (max-width: 600px) {
  .admin-content {
    padding: 0rem;
  }
}


