<div class="perfil-wrap">
  <div *ngIf="cargando()" class="spinner">Cargando perfil...</div>
<app-toast-local></app-toast-local>
  <ng-container *ngIf="usuario() as u">
    <div class="perfil-card">
      <div class="perfil-header">
        <div class="avatar-wrap">
          <img *ngIf="u.foto"
               [src]="mediaUrl + u.foto"
               class="avatar"
               alt="foto de perfil">
          <div *ngIf="!u.foto" class="avatar-placeholder">
            {{ u.nombre.charAt(0).toUpperCase() }}
          </div> 
        </div>
        <div class="perfil-nombre">
          <p class="username">@{{ u.username }}</p>
          <h1>{{ u.nombre }} {{ u.apellidos }}</h1>
          <span class="rol-badge">{{ u.rol }}</span>
        </div>
      </div>

      <div class="perfil-body">
        <p class="seccion-titulo">Datos personales</p>
        <div class="campos-grid">
          <div class="campo">
            <label>Nombre</label>
            <span>{{ u.nombre }}</span>
          </div>
          <div class="campo">
            <label>Apellidos</label>
            <span>{{ u.apellidos }}</span>
          </div>
          <div class="campo">
            <label>Email</label>
            <span>{{ u.email }}</span>
          </div>
          <div class="campo">
            <label>Teléfono</label>
            <span [class.vacio]="!u.telefono">
              {{ u.telefono || 'No especificado' }}
            </span>
          </div>
          <div class="campo">
            <label>Dirección</label>
            <span [class.vacio]="!u.direccion">
              {{ u.direccion || 'No especificada' }}
            </span>
          </div>
        </div>
        <div class="acciones">
          <button class="btn btn-editar">Editar perfil</button>
          <button class="btn btn-borrar">Borrar cuenta</button>
        </div>
      </div>
    </div>
  </ng-container>
</div>