<div class="list-container">
  <div class="header-lista">
    <h1>Usuarios</h1><app-toast-local></app-toast-local>
  </div>

  @if (cargando) {
    <p>Cargando usuarios...</p>
  } @else if (error) {
    <p>{{ error }}</p>
  } @else {
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Foto</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Email</th>
          <th>Rol</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
       @for (u of usuarios; track u.id) {
        <tr>
            <td>{{ u.id }}</td>
            <td><img [src]="u.foto ? 'http://localhost:4200/Blog/api/media/' + u.foto : 'assets/sin-foto.png'" [alt]="u.username" class="autor-avatar"></td>
            <td>{{ u.nombre }}</td>
            <td>{{ u.apellidos }}</td>   
            <td>{{ u.email }}</td>
            <td>{{ u.rol }}</td>
            <td>
              <button class="btn-editar">Editar</button>
              <button class="btn-eliminar">Eliminar</button>
            </td>
        </tr>
        }
      </tbody>
    </table>
  }
</div>
