<div class="list-container">
  <div class="header-lista">
    <h1>Usuarios</h1><app-toast-local></app-toast-local>
  </div>
  <app-filtro 
      labelId="ID..." 
      label1="Username" 
      label2="Nombre" 
      label3="Apellidos"
      (alFiltrar)="onFiltro($event)">
  </app-filtro>
  @if (cargando()) {
    <p>Cargando usuarios...</p>
  } @else {
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Foto</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Email</th>
          <th>Rol</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
       @for (u of pagina()?.contenido; track u.id) {
        <tr>
            <td>{{ u.id }}</td>
            <td>
              <img 
                [src]="u.foto ? mediaUrl + u.foto : 'assets/sin-foto.png'" 
                [alt]="u.username" 
                class="autor-avatar">
            </td>
            <td>{{ u.nombre }}</td>
            <td>{{ u.apellidos }}</td>   
            <td>{{ u.email }}</td> 
            <td>{{ u.rol }}</td>
            <td>
              <button (click)="irAEditar(u.id)" class="btn-editar">Editar</button>
              <button class="btn-eliminar">Eliminar</button>
            </td>
        </tr>
        }
      </tbody>
    </table>
  }
  <app-paginador 
    [totalPaginas]="pagina()!.totalPaginas"  
    [paginaActual]="paginaActual()"
    (pageChanged)="onPage($event)">
  </app-paginador>
</div>
