<div class="list-container">
  <div class="header-lista">
    <h1>Blog</h1><app-toast-local></app-toast-local>     
    @if (authService.isLogged()) {
      <button class="btn-publicar" [routerLink]="['/entradas/crear']">
        + Crear Nueva Entrada
      </button>
    }
  </div>

  <app-filtro (filtroChanged)="onFiltro($event)"></app-filtro>
  
  @if (cargando) {
    <p>Cargando entradas...</p>
  } @else if (error) {
    <p>{{ error }}</p>
  } @else {
    <div class="lista-grid">
      @for (entrada of entradas; track entrada.id) {
        <div class="entrada-card">
          <!-- Imagen del Post -->
          @if (entrada.imagenUrl) { 
            <div class="thumb">
              <img 
                [src]="'http://localhost:4200/Blog/api/media/' + entrada.imagenUrl" 
                [alt]="entrada.titulo" 
                class="thumb-img">
            </div>
          }

          <!-- Info del Post --> 
          <div class="info">
            <h2>{{ entrada.titulo }}</h2>           
             <p>
              <strong>{{ entrada.nombreCategoriaPadre ? entrada.nombreCategoriaPadre + ', ' + entrada.nombreCategoria : entrada.nombreCategoria }}</strong> 
              | {{ entrada.nombreAutor }} — {{ entrada.fechaCreacion | date:'dd/MM/yyyy' }}
            </p>
            <!-- Extracto del texto (limitado a 150 caracteres) -->
            <p class="resumen">
              {{ entrada.contenido.substring(0, 150) }}...
            </p>

            <a [routerLink]="['/entradas', entrada.slug]">Leer más</a>
          </div>
        </div>
      }
    </div>
      <app-paginador 
        [totalPaginas]="pagina!.totalPaginas"  
        [paginaActual]="paginaActual"
        (pageChanged)="onPage($event)">
    </app-paginador>
  }
</div>


