<div class="list-container">
  <div class="header-lista">
    <h1><i class="bi bi-pencil-square me-2"></i> Gestión de Entradas</h1>
    <app-toast-local></app-toast-local>
    <button (click)="irACrear()" class="btn-crear">+ Crear Entrada</button>   
  </div>
  <app-filtro 
    labelId="ID..." 
    label1="Título de la entrada" 
    label2="Categoría" 
    label3="Nombre del Autor" 
    [valores]="{ id: idAdmin() ?? undefined, c1: tituloAdmin(), c2: categoriaAdmin(), c3: autorAdmin() }"
    (alFiltrar)="onFiltro($event)">
  </app-filtro>
  @if (cargando()) {
    <p>Cargando entradas...</p>
  } @else {
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Imagen</th>
          <th>Título</th>
          <th>Categoría</th>
          <th>Autor</th>
          <th>Extracto</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (e of pagina()?.contenido; track e.id) {
          <tr>
            <td>{{ e.id }}</td>
            <td>
              <img 
                [src]="e.imagenUrl ? mediaUrl + e.imagenUrl : 'assets/sin-foto.png'"
                [alt]="e.titulo"
                class="autor-avatar">
            </td>
            <td>{{ e.titulo }}</td>
            <td>{{ e.nombreCategoriaPadre ? e.nombreCategoriaPadre + ', ' + e.nombreCategoria : e.nombreCategoria }}</td>
            <td>{{ e.nombreAutor }}</td>
            <td>{{ e.contenido.substring(0, 10) }}...</td>
            <td>
              <button (click)="irAEditar(e.id!)" class="btn-editar">Editar</button>
              <button (click)="confirmarEliminar(e.id!)" class="btn-eliminar">Eliminar</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
  @if (mostrarModal()) {
    <div class="modal-overlay">
      <div class="modal-box">
        <p>¿Estás seguro de que quieres eliminar esta entrada?</p>
        <span>Esta acción no se puede deshacer.</span>
        <div class="modal-acciones">
          <button (click)="cancelar()" class="btn-cancelar">Cancelar</button>
          <button (click)="eliminar()" class="btn-eliminar">Eliminar</button>
        </div>
      </div>
    </div>
  }
  <app-paginador  
    [totalPaginas]="pagina()?.totalPaginas ?? 0" 
    [paginaActual]="paginaActual()"
    (pageChanged)="onPage($event)">
  </app-paginador>
</div>
